.Loader {
  width: 60vw;
  height: 8vw;
  display: inline-block;
  position: relative;
  border: 0.5vw solid var(--themeColor1);
  justify-content: flex-start !important;
  padding: 0 1%;
  gap: 1%;
  .line {
    background-color: var(--themeColor1);
    height: 90%;
    width: 1.7%;
    animation: animloader 1s linear infinite;
  }
}
